altgraph==0.17
appdirs==1.4.4
asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
comtypes==1.1.7
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2.3
django-crispy-forms==1.11.2
django-heroku==0.3.1
filelock==3.0.12
future==0.18.2
gunicorn==20.1.0
idna==2.10
pefile==2019.4.18
Pillow==8.2.0
pipenv==2020.11.15
psycopg2==2.8.6
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
python-decouple==3.4
pyttsx3==2.90
pytz==2020.4
requests==2.25.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
urllib3==1.26.2
virtualenv==20.4.6
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
whitenoise==5.2.0
wikipedia==1.4.0
