{% extends "base.html" %}
      
 {% block content %}
 <div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
      	<h1>About</h1>

      <p>	<h4>  Space is full of mysteries. Spacetronomy is space theme blog for beginners. It contains the answer to questions about space. The content in the blog is taken from internet resources and books like Dorling Kindersley's Space Encyclopedia. It can be used for first reference for your space journey. Jump into Spacetronomy and blast off for a spectacular journey into space!!!!!!!</h4></p>
      {% endblock %}